html {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("../images/forest-3394066_1920.jpg");
  background-position: top;
  background-size: cover;
  background-blend-mode: multiply;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
}

body {
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.favicon {
  width: 80px;
  padding: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 90px);
}

.home {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5px 12px 5px 12px;
  border-radius: 8px;
  font-weight: bold;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

header ul li {
  list-style: none;
  padding: 2px 12px 2px 12px;
  text-align: end;
  font-weight: bold;
}

header * a {
  text-decoration: none;
  color: #ffffff;
}

.hero {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #ffffff;
}

.topbar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.title {
  color: #ffffff;
  max-width: 50vh;
}

.img-main {
  color: #ffffff;
  max-width: 50vh;
  padding: 10px 10px 10px 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: grey;
  background-color: rgba(255, 255, 255, 1);
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
}

.content :nth-child(1) {
  color: #000000;
}

.content :last-child {
  font-size: 1.3rem;
  padding-bottom: 10px;
}

.next {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
}

.next * {
  background-color: rgba(255, 255, 255, 0.4);
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  width: 245px;
  padding: 5px 30px 5px 30px;
  margin: 10px 20px 10px 20px;
  border-radius: 8px;
  text-align: center;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #ffffff;
  padding: 0 20px 0 20px;
  text-align: left;
}

.pquote {
  float: right;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  font-weight: bold;
  align-self: center;
  text-align: center;
}

footer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  font-weight: normal;
  text-align: center;
}

footer a {
  text-decoration-color: #ffffff;
  color: #ffffff;
}